<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"/>

<body>

<nav th:replace="fragments/header.html :: nav"/>

<div class="container">
    <div class="row py-2">

        <div class="col-12 50px">

            <h1>Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin/create}">New user</a>
                </li>
            </ul>

            <h4>Add new user</h4>

            <form th:action="@{/admin/create}" th:method="post" th:object="${user}">
                <div class="form-row align-items-center">
                    <div class="row py-2">
                        <div class="col-12">
                            <div class="col-auto">
                                <label for="nickname">Nickname</label>
                                <input type="text" class="form-control mb-2" id="nickname" th:field="*{nickname}"
                                       placeholder="Nickname">
                            </div>
                            <div class="col-auto">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control mb-2" id="firstName" th:field="*{firstName}"
                                       placeholder="First name">
                            </div>
                            <div class="col-auto">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control mb-2" id="lastName" th:field="*{lastName}"
                                       placeholder="Last name">
                            </div>
                            <div class="col-auto">
                                <label for="age">Age</label>
                                <input type="number" class="form-control mb-2" id="age" th:field="*{age}"
                                       placeholder="Age">
                            </div>
                            <div class="col-auto">
                                <label for="email">Email</label>
                                <input type="email" class="form-control mb-2" id="email" th:field="*{email}"
                                       placeholder="Email">
                            </div>
                            <div class="col-auto">
                                <label for="password">Password</label>
                                <input type="password" class="form-control mb-2" id="password" th:field="*{password}"
                                       placeholder="Password">
                            </div>
                            <div class="col-auto">
                                <label for="role">Role</label>
                                <select multiple class="form-control" id="role" th:field="*{roles}" required>
                                    <option th:each="role : ${roles}"
                                            th:text="${role.name.replaceFirst('ROLE_', '')}"
                                            th:value="${role.id}"></option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>