<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"></head>

<body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label hidden for="user_id" class="col-form-label">ID:</label>
                        <input hidden type="text" class="form-control" id="user_id" name="user_id">
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-form-label">Nickname:</label>
                        <input type="text" class="form-control" id="nickname" name="nickname">
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-form-label">First name:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-form-label">Last name:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-form-label">Age:</label>
                        <input type="text" class="form-control" id="age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-form-label">Roles:</label>
                        <select multiple class="form-control" id="role" required>
                            <option th:each="role : ${roles}"
                                    th:text="${role.name.replaceFirst('ROLE_', '')}"
                                    th:value="${role.id}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info">Edit</button>
            </div>
        </div>
    </div>
</div>

<nav th:replace="fragments/header.html :: nav"></nav>
<br>
<div class="container-fluid">
    <div class="row ">

        <div th:replace="fragments/sidebar.html :: sidebar"></div>

        <div class="col-8">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/create}">New user</a>
                </li>
            </ul>

            <h4>All users</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th th:text="${user.id}"></th>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <span th:each="role : ${user.roles}"
                              th:text="${role.name.replaceFirst('ROLE_', '') + ' '}">
                        </span>
                    </td>
                    <td>
                        <a class="btn btn-info"
                           data-toggle="modal" data-target="#exampleModal"
                           th:data-user_id="${user.id}"
                           th:data-nickname="${user.nickname}"
                           th:data-first_name="${user.firstName}"
                           th:data-last_name="${user.lastName}"
                           th:data-age="${user.age}"
                           th:data-email="${user.email}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/admin/delete/{id}(id = ${user.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var user_id = button.data('user_id') // Extract info from data-* attributes
        var nickname = button.data('nickname') // Extract info from data-* attributes
        var first_name = button.data('first_name') // Extract info from data-* attributes
        var last_name = button.data('last_name') // Extract info from data-* attributes
        var age = button.data('age') // Extract info from data-* attributes
        var email = button.data('email') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Edit user')
        modal.find('#user_id').val(user_id)
        modal.find('#nickname').val(nickname)
        modal.find('#first_name').val(first_name)
        modal.find('#last_name').val(last_name)
        modal.find('#age').val(age)
        modal.find('#email').val(email)
    })
</script>
</body>
</html>